/*以下样式自定义*/

* {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    color: #444;
    font-family: "Consolas", "KaiTi", Helvetica, Arial, Verdana, sans-serif;
    font-size: 18px;
    text-shadow: 0 0 1px transparent;
    color: #505050;
}

@media screen and (max-width: 1260px) {
    body {
        margin: 0px;
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 18px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Consolas", "KaiTi", Helvetica, Arial, Verdana, sans-serif;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

a {
    text-decoration: none;
    color: #258fb8;
}

a:hover {
    text-decoration: underline;
}

#home {
    margin: 0 auto;
    width: 85%;
    background-color: #fff;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    border-radius: 20px;
}

#tbCommentBody {
    width: 100%;
}

#blogTitle {
    width: 23%;
    margin-top: -10px;
    text-align: center;
}

.alignright {
    float: right;
}

#header,
#main,
#footer {
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 1260px) {
    #main {
        width: 95%;
    }
}

#mainContent {
    width: 75%;
    float: left;
    margin-left: 10px;
}

@media screen and (max-width: 1260px) {
    #main-col {
        width: 100%;
        margin-right: -300px;
    }
}

@media screen and (max-width: 900px) {
    #main-col {
        margin-right: 0;
        float: none;
    }
}

@media screen and (max-width: 1260px) {
    #wrapper {
        margin-right: 300px;
    }
}

@media screen and (max-width: 900px) {
    #wrapper {
        margin-right: 0;
    }
}

#header {
    text-shadow: 0 0 1px #fff;
    margin: 20px auto 30px;
    position: relative;
    height: 60px;
    color: #999;
}

#header a {
    color: #999;
}

#header a:hover {
    color: #258fb8;
    text-decoration: none;
}

#header h1 {
    font-weight: normal;
    font-size: 30px;
}

#header h2 {
    font-weight: normal;
    font-size: 0.9em;
    margin-top: 10px;
    margin-left: 30px;
}

#header #navigator {
    font-family: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
    width: 100%;
    font-size: 16px;
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    height: 50px;
    line-height: 50px;
    clear: both;
    margin-top: 25px;
}

#header #navigator ul {
    list-style: none;
}

#header #navigator ul li {
    float: left;
    width: 10%;
    text-align: center;
    margin-right: 15px;
}

#header .blogStats {
    float: right;
    font-size: 13px;
}

.topicListFooter {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 0 !important;
}

.topicListFooter a {
    display: inline !important;
    padding: 10px 20px;
    background: #ddd;
    color: #999;
    font-family: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
    text-shadow: 0 0 1px #fff;
    border-radius: 5px;
}

.topicListFooter a:hover {
    background: #258fb8;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
}

.topicListFooter .prev:before {
    content: '\f053';
    padding-right: 10px;
    font-family: FontAwesome;
}

.topicListFooter .next:after {
    content: '\f054';
    padding-left: 10px;
    font-family: FontAwesome;
}

article {
    -webkit-box-shadow: 1px 2px 3px #ddd;
    box-shadow: 1px 2px 3px #ddd;
    background: #fff;
}

article.page {
    padding-left: 20px;
}

article.page .icon {
    display: none;
}

.postIcon:before {
    content: '\f016';
}

article.photo .icon:before {
    content: '\f030';
}

article.link .icon:before {
    content: '\f0c1';
}

article.link .title a:after {
    content: '\f08e';
    color: #999;
    font: 12px FontAwesome;
    padding-left: 10px;
    vertical-align: super;
}

#MySignature {
    border-top: 2px solid #ccc;
    padding-top: 20px;
}

.pager {
    border-bottom: 1px dashed #ddd;
    padding-bottom: 30px;
    margin-bottom: -10px;
}

#blog-calendar {
    width: 0px;
    height: 0px;
    display: none !important;
}

#TopViewPostsBlock ul li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
    height: 30px;
    line-height: 30px;
}

.day .dayTitle {
    display: none !important;
}

#ad_t2,
#opt_under_post,
.c_ad_block,
#under_post_news,
#under_post_kb {
    display: none !important;
}

.postTitle,
.entrylistPosttitle {
    font-family: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.8em;
    padding: 20px 20px 15px 0px;
    background: #fff;
    border-radius: 10px 10px 0px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entrylistPostSummary,
.postCon,
.postBody {
    padding: 0 20px 15px 0px;
    -webkit-box-shadow: 1px 2px 3px #ddd;
    box-shadow: 0 2px 0 #ddd;
    background: #fff;
    position: relative;
}

.postDesc,
.entrylistItemPostDesc {
    padding: 0px 20px 15px 0px;
    color: #999;
    font-size: 0.9em;
    line-height: 16px;
    position: relative;
    min-height: 16px;
    background: #fff;
    border-bottom: 1px dashed #ccc;
}

#blog-calendar {
    display: none;
}

@media screen and (max-width: 600px) {
    .postCon {
        padding-left: 0px;
    }
}

.postIcon {
    height: 0px;
    margin-right: 25px;
    position: relative;
    top: 25px;
    left: 25px;
    color: #258fb8;
}

@media screen and (max-width: 600px) {
    article header .icon {
        display: none;
    }
}

.postIcon:before {
    position: absolute;
    font: 32px FontAwesome;
    top: 0;
    left: 0;
    width: 32px;
    text-align: center;
}

article header time {
    color: #999;
    font: 0.9em "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-bottom: 5px;
    display: block;
    line-height: 1;
}

article header .title {
    font-weight: normal;
}

article header .title a {
    color: #444;
}

article header .title a:hover {
    color: #258fb8;
    text-decoration: none;
}

#cnblogs_post_body {
    text-align: justify;
    line-height: 1.6;
}

#cnblogs_post_body p,
#cnblogs_post_body blockquote,
#cnblogs_post_body ul,
#cnblogs_post_body ol,
#cnblogs_post_body dl,
#cnblogs_post_body table,
#cnblogs_post_body iframe,
#cnblogs_post_body h3,
#cnblogs_post_body h4,
#cnblogs_post_body h5,
#cnblogs_post_body h6,
#cnblogs_post_body .video-container {
    margin-top: 15px;
}

#cnblogs_post_body blockquote {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 10px solid #ddd;
    font-family: "Consolas", "KaiTi", serif;
    font-size: 1.0em;
}

#cnblogs_post_body blockquote footer {
    border-top: none;
    font-size: 0.8em;
    line-height: 1;
    margin: 20px 0 0;
    padding-top: 0;
}

#cnblogs_post_body blockquote footer cite:before {
    content: '—';
    color: #ccc;
    padding: 0 0.5em;
}

#cnblogs_post_body ul ul,
#cnblogs_post_body ol ul,
#cnblogs_post_body dl ul,
#cnblogs_post_body ul ol,
#cnblogs_post_body ol ol,
#cnblogs_post_body dl ol,
#cnblogs_post_body ul dl,
#cnblogs_post_body ol dl,
#cnblogs_post_body dl dl {
    margin-top: 0;
}

#cnblogs_post_body h1 {
    text-align: center;
    background: #333366;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
    color: #FFFFFF;
    font-size: 23px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin: 18px 0 !important;
    padding: 8px 0 5px 5px;
    text-shadow: 2px 2px 3px #222222;
}

#cnblogs_post_body h3 {
    text-align: center;
    background: #006699;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin: 18px 0 !important;
    padding: 8px 0 5px 5px;
    text-shadow: 2px 2px 3px #222222;
}

#cnblogs_post_body h5 {
    background: #2B6695;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin: 18px 0 !important;
    padding: 8px 0 5px 5px;
    text-shadow: 2px 2px 3px #222222;
}

.postBody img,
.entrylistPostSummary img,
.postCon img,
.postBody video {
    max-width: 100%;
    height: auto;
    border: none;
}

#cnblogs_post_body iframe {
    border: none;
}

#cnblogs_post_body .caption {
    display: block;
    margin-top: 5px;
    color: #999;
    position: relative;
    font-size: 0.9em;
    padding-left: 25px;
}

#cnblogs_post_body .caption:before {
    content: '\f040';
    position: absolute;
    font: 1.3em FontAwesome;
    position: absolute;
    left: 0;
    top: 3px;
}

#cnblogs_post_body .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

#cnblogs_post_body .video-container iframe,
#cnblogs_post_body .video-container object,
#cnblogs_post_body .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
}

#cnblogs_post_body .pullquote {
    float: right;
    border: none;
    padding: 0;
    margin: 1em 0 0.5em 1.5em;
    text-align: left;
    width: 45%;
    font-size: 1.5em;
}

#blog-comments-placeholder,
#comment_form {
    padding: 20px;
    background: #fff;
    -webkit-box-shadow: 1px 10px 10px #ddd;
    box-shadow: 10px 10px 10px #ddd;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    padding-top: 0;
}

.feedback_area_title {
    margin-bottom: 15px;
    font-size: 1.8em;
}

.feedbackItem {
    border-bottom: 1px dashed #CCC;
    margin-bottom: 10px;
    padding: 5px;
}

.color_shine {
    background: rgb(226, 242, 255);
}

.feedbackItem:hover {
    animation-name: color_shine;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#comment_form .title {
    font-weight: normal;
    margin-bottom: 15px;
}

#ad_under_post_holder {
    display: none;
}

.entrylistTitle {
    color: #999;
    font-weight: normal;
    margin-bottom: 30px;
    text-shadow: 0 0 1px #fff;
}

.entrylistTitle:before {
    font-family: FontAwesome;
    content: '\f07b';
    padding-right: 15px;
}

.archive {
    -webkit-box-shadow: 1px 2px 3px #ddd;
    box-shadow: 1px 2px 3px #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 50px;
}

.archive article {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.archive article .post-content {
    margin-bottom: 0;
}

#sideBar {
    width: 22%;
    line-height: 1.8em;
    float: right;
}

#sideBar #sideBarMain ul li a {
    display: block;
}

#sideBar #sideBarMain ul li a:link,
#sideBar #sideBarMain ul li a:visited {
    text-decoration: none;
    background-color: white;
    filter: Alpha(Opacity=90);
}

#sideBar #sideBarMain ul li a:hover {
    background-color: #FDF6E3;
    filter: Alpha(Opacity=90);
}

@media screen and (max-width: 900px) {
    #sideBar {
        float: none;
        width: 100%;
    }
}

.catListLink,
.catListMyTeams,
.catListComment,
.catListFeedback {
    display: none;
}

.search,
.newsItem,
.catListPostCategory,
.catListPostArchive,
.catListTag,
.catListView,
.catListBlogRank {
    background: #fff;
    -webkit-box-shadow: 1px 2px 3px #ddd;
    box-shadow: 10px 10px 10px #ddd;
    margin-bottom: 30px;
    word-wrap: break-word;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
}

#blog-sidecolumn h3,
.newsItem h3 {
    padding: 15px 20px;
    font-size: 1em;
    border-bottom: 1px solid #ddd;
    font-weight: normal;
}

#blog-sidecolumn ul,
.newsItem #blog-news {
    font-size: 0.9em;
    padding: 15px 20px;
}

#blog-sidecolumn ul,
#blog-sidecolumn ol,
#blog-sidecolumn dl {
    list-style: none;
}

#blog-sidecolumn ul ul,
#blog-sidecolumn ol ul,
#blog-sidecolumn dl ul,
#blog-sidecolumn ul ol,
#blog-sidecolumn ol ol,
#blog-sidecolumn dl ol,
#blog-sidecolumn ul dl,
#blog-sidecolumn ol dl,
#blog-sidecolumn dl dl {
    list-style: disc;
    margin-left: 20px;
}

#q {
    background: #fff;
    font-family: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 1em;
    padding: 10px 15px;
    border: 1px solid #ddd;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #999;
    height: 100%;
}

#q:focus {
    color: #444;
}

.mySearch {
    display: none;
}

#sideBar .tag small {
    margin-left: 15px;
    color: #999;
}

#sideBar .tag small:before {
    content: '(';
}

#sideBar .tag small:after {
    content: ')';
}

#sideBar .twitter li {
    border-bottom: 1px solid #ddd;
    padding: 15px 20px;
    font-size: 0.9em;
}

#sideBar .twitter li:last-of-type {
    border-bottom: none;
}

#sideBar .twitter small {
    display: block;
    margin-top: 10px;
    color: #999;
    line-height: 1;
}

#sideBar .tagcloud .entry {
    padding-right: 5px;
}

#sideBar .tagcloud a {
    margin-right: 10px;
    display: inline-block;
}

#footer {
    color: #999;
    margin-bottom: 50px;
    font: 0.9em/1.6 "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
    text-shadow: 0 0 1px #fff;
    text-align: center;
    margin: 30px 0px 50px;
}

.entry .gist {
    background: #eee;
    border: 1px solid #ddd;
    margin-top: 15px;
    padding: 7px 15px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-shadow: 0 0 1px #fff;
    line-height: 1.6;
    overflow: auto;
    color: #666;
}

.entry .gist .gist-file {
    border: none;
    font-family: inherit;
    margin: 0;
    font-size: 0.9em;
}

.entry .gist .gist-file .gist-data {
    background: none;
    border-bottom: none;
}

.entry .gist .gist-file .gist-data pre {
    padding: 0 !important;
    font-family: Monaco, Menlo, "Consolas", Courier New, monospace;
}

.entry .gist .gist-file .gist-meta {
    background: none;
    color: #999;
    margin-top: 5px;
    padding: 0;
    text-shadow: 0 0 1px #fff;
    font-size: 100%;
}

.entry .gist .gist-file .gist-meta a {
    color: #258fb8;
}

.entry .gist .gist-file .gist-meta a:visited {
    color: #258fb8;
}

figure.highlight {
    background: #eee;
    border: 1px solid #ddd;
    margin-top: 15px;
    padding: 7px 15px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-shadow: 0 0 1px #fff;
    line-height: 1.6;
    overflow: auto;
    position: relative;
    font-size: 0.9em;
}

figure.highlight figcaption {
    color: #999;
    margin-bottom: 5px;
    text-shadow: 0 0 1px #fff;
}

figure.highlight figcaption a {
    position: absolute;
    right: 15px;
}

figure.highlight pre {
    border: none;
    padding: 0;
    margin: 0;
}

figure.highlight table {
    margin-top: 0;
    border-spacing: 0;
}

figure.highlight .gutter {
    color: #999;
    padding: 7px 10px 7px 5px !important;
    border-right: 1px solid #ddd;
    text-align: right;
}

.feedbackManage {
    width: 160px;
    position: absolute;
    right: 0;
    text-align: right;
}

#cnblogs_post_body {
    overflow: hidden;
}

#cnblogs_post_body ol {
    padding-left: 40px;
}

#cnblogs_post_body ul {
    margin-left: 35px;
}

.fixedReadRank {
    position: fixed;
    top: 20px;
    width: 270px;
}

.fixedRecRank {
    position: fixed;
    top: 360px;
    width: 270px;
}

figure.highlight {
    margin-top: 0;
    padding: 0;
}

figure table {
    width: 100%;
    margin: 0 !important;
}

#cnblogs_post_body th,
#cnblogs_post_body td {
    padding: 0;
}

.feedback_area_title {
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #aaa;
    border-bottom: 1px dashed #ccc;
}

.feedbackListSubtitle {
    font-size: 12px;
    color: #888;
}

.feedbackListSubtitle a {
    color: #888;
}

.comment_quote {
    background: #eee;
    padding: 15px;
    border: 1px dashed #aaa;
    border-radius: 5px;
}

#commentform_title {
    color: #aaa;
    background-image: none;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    padding: 10px 20px 10px 10px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px dashed #ccc;
}

#comment_form {
    margin: 10px 0;
    padding: 25px;
    border-radius: 10px;
}

.commentform {
    margin: 10px 0;
    padding: 10px 20px;
    background: #fff;
}

#tbCommentBody {
    font-family: "Consolas", 'KaiTi';
    margin-top: 10px;
    background: white;
    color: #333;
    border: 2px solid #fff;
    box-shadow: inset 0 0 8px #aaa;
    height: 120px;
    font-size: 16px;
    min-height: 120px;
    border-radius: 10px;
}

.feedbackItem {
    font-size: 15px;
    font-family: "Lucida Grande", "Lucida Sans Unicode";
    line-height: 24px;
    margin: 10px 0;
    padding: 20px;
    padding-top: 5px;
}

.feedbackListSubtitle {
    font-weight: normal;
}

#green_channel {
    padding-left: 0px;
    font-weight: normal;
    font-size: 13px;
    width: 100%;
    border: 1px dashed #ccc;
    color: #fff;
    border-radius: 4px;
    margin: 5px auto;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 13px;
    }

    #main {
        padding: 0px !important;
    }

    #mainContent {
        width: 96%;
        float: left;
        margin: 0px 2%;
    }

    #sideBar {
        display: none;
    }

    #blogTitle {
        width: 100%;
        float: none;
        margin: 20px auto 0 !important;
    }

    #header {
        height: auto !important;
        margin: 20px auto 5px;
    }

    #header #navigator {
        width: 100%;
        text-align: center;
        float: none;
    }

    #header #navigator ul {
        width: 100%;
        margin-left: 6%;
    }

    #header #navigator ul li {
        float: left;
        width: 25%;
        text-align: center;
        margin-right: 0px;
    }

    .postTitle,
    .entrylistPosttitle {
        font-size: 14px;
        padding: 20px 20px 15px 0px;
    }

    .postDesc,
    .entrylistItemPostDesc {
        padding: 0px 20px 15px 0px;
    }

    #green_channel {
        padding: 0px !important;
    }

    #blog_stats {
        display: none;
    }
}

#blog-news label {
    box-shadow: 5px 5px 5px #cccccc;
    text-shadow: 5px 5px 5px #cccccc;
    border-radius: 5px;
}

div.commentform textarea.comment_textarea {
    padding: 10px;
}

#cnblogs_post_body h3:hover {
    color: #FAF391;
    font-size: 23px;
    font-weight: bold;
}

/*以上样式自定义*/

/*文章标题样式开始*/

.postTitle {
    font-family: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
    clear: both;
    background-color: #FBF9F9;
    margin-bottom: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    border-left: 3px solid #21759b;
    padding-left: 20px;
    font-size: 20px;
    border-radius: 0px;
}

.postTitle a:hover {
    text-decoration: none;
    margin-left: 20px;
    color: #E00000;
}

.postTitle a:link,
.postTitle a:visited,
.postTitle a:active {
    transition: all 0.4s linear 0s;
}

/*文章标题样式结束*/

/*时钟样式开始*/

#clockdiv {
    text-align: center;
}

/*时钟样式结束*/

/*浏览器滚动条样式开始*/

::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
    -webkit-appearance: none;
}

::-webkit-scrollbar-thumb {
    height: 5px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: none;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, .3);
    background-clip: padding-box;
}

/*浏览器样式结束*/

/*点赞样式开始*/

#div_digg {
    padding: 5px;
    border-radius: 5px;
    position: fixed;
    left: 0;
    bottom: 80px;
    width: 80px;
    z-index: 999;
}

.diggit {
    background: url(http://images2017.cnblogs.com/blog/894443/201709/894443-20170920105433618-867225449.png) no-repeat;
    width: 60px;
    height: 60px;
}

#div_digg .diggnum {
    position: absolute;
    bottom: -20px;
    left: 6px;
    background: #D0D0D0;
    padding: 2px 0;
    display: block;
    color: #555;
    font-size: 12px;
    text-align: center;
    width: 60px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: bold;
}

/*点赞样式结束*/

/*反对样式开始*/

.buryit {
    display: none;
}

/*反对样式结束*/

/*Monakai 代码样式开始*/

#cnblogs_post_body code {
    font-family: "Consolas", "KaiTi" !important;
}

.cnblogs-markdown .hljs,
.cnblogs-post-body .hljs {
    font-family: "Consolas", sans-serif !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
    padding: 5px !important;
}

pre {
    white-space: pre;
    word-wrap: normal;
}

.cnblogs-markdown .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #23241f !important;
    color: #FFF;
    white-space: pre;
    word-break: normal;
}

.hljs,
.hljs-tag,
.hljs-subst {
    color: #f8f8f2;
}

.hljs-strong,
.hljs-emphasis {
    color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
    color: #ae81ff;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
    color: #a6e22e;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
    color: #f92672;
}

.hljs-symbol,
.hljs-attribute {
    color: #66d9ef;
}

.hljs-params,
.hljs-class .hljs-title {
    color: #f8f8f2;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
    color: #e6db74;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
    color: #F6AA11;
}

/*Monakai 代码样式结束*/

/*提交评论按钮样式开始*/

#btn_comment_submit {
    height: 30px;
    width: 75px;
    color: white;
    background-color: cornflowerblue;
    border-radius: 3px;
    border-width: 0;
    margin: 0;
    outline: none;
    font-family: "KaiTi";
    font-size: 17px;
    text-align: center;
    cursor: pointer;
}

#btn_comment_submit:hover {
    background-color: #16A05D;
}

/*提交评论按钮样式结束*/

/*评论区样式开始*/

.user-avatar {
    position: absolute;
    left: 10px;
    top: 30px;
    width: 48px;
    height: 48px;
}

#blog-comments-placeholder {
    border: solid 1px #CCC;
    border-radius: 5px;
}

div#comments_pager_top {
    display: none;
}

#blog-comments-placeholder>br {
    display: none;
}

.feedbackManage {
    width: 130px;
    display: none;
    position: absolute;
    right: 150px;
    top: 6px;
}

.feedbackItem:hover .feedbackManage {
    display: block;
}

.feedbackItem a {
    color: #989898 !important;
    transition: all .2s;
}

.feedbackItem a:hover {
    color: #FF661C !important;
    text-decoration: underline;
}

.feedbackCon {
    background: none;
    clear: both;
    margin: 10px 0 0 30px;
}

.feedbackListSubtitle a.layer {
    background: #B2E866;
    color: #414141 !important;
    padding: 2px 4px;
    border-radius: 2px;
    margin-right: 4px;
}

.feedbackListSubtitle a[target="_blank"] {
    color: #FF6969 !important;
}

.feedbackItem .comment_date {
    color: #BCBCBC;
    margin-right: 4px;
}

.feedbackListSubtitle {
    color: #0AB300;
}

.comment_vote {
    float: right;
    margin-top: -34px;
    display: none;
}

.feedbackItem:hover .comment_vote {
    display: block;
}

.feedbackItem {
    color: #464646;
    position: relative;
}

.blog_comment_body {
    background: #B2E866;
    float: left;
    padding: 8px 12px;
    border-radius: 10px;
    position: relative;
    overflow: visible;
    margin-left: 33px;
    max-width: 500px;
}

.blog_comment_body:before {
    content: '';
    display: block;
    position: absolute;
    left: -17px;
    top: 9px;
    width: 0;
    height: 0;
    border-right: solid 18px #B2E866;
    border-top: solid 6px rgba(0, 0, 0, 0);
    border-bottom: solid 10px rgba(0, 0, 0, 0);
}

.blog_comment_body:after {
    content: attr(data-louceng);
    display: none;
    width: 48px;
    height: 48px;
    position: absolute;
    left: -72px;
    top: 0px;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.42);
    font-family: 'Microsoft Yahei';
    background: linear-gradient(top, rgb(116, 218, 45) 12%, rgb(135, 255, 75) 35%, rgb(71, 179, 28) 86%);
    background: -o-linear-gradient(top, rgb(116, 218, 45) 12%, rgb(135, 255, 75) 35%, rgb(71, 179, 28) 86%);
    background: -ms-linear-gradient(top, rgb(116, 218, 45) 12%, rgb(135, 255, 75) 35%, rgb(71, 179, 28) 86%);
    background: -moz-linear-gradient(top, rgb(116, 218, 45) 12%, rgb(135, 255, 75) 35%, rgb(71, 179, 28) 86%);
    background: -webkit-linear-gradient(top, #74DA2D 12%, #87FF4B 35%, #47B31C 86%);
    background-size: contain;
}

.feedbackCon:after {
    content: '';
    display: block;
    clear: both;
}

.comment_quote {
    border: 1px solid #63921F;
    border-radius: 3px;
}

.feedbackItem .sendMsg2This {
    display: none;
}

.myself .blog_comment_body {
    background: #98DDFF;
}

.myself .blog_comment_body:before {
    border-right: solid 18px #98DDFF;
}

.myself .comment_quote {
    border: 1px solid #4491B7;
}

/*评论区样式结束*/

/*侧边栏目录样式开始*/

#sideToolbar {
    position: fixed;
    bottom: -12px;
    right: 25px;
    width: 250px;
    height: 440px
}

#sideCatalog {
    background-color: #fff;
    padding-bottom: 10px;
    border-radius: 5px;
}

#sideCatalog-sidebar {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #eaeaea;
    border-color: -moz-use-text-color #eaeaea;
    border-image: none;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-style: none solid;
    border-width: 0 1px;
    height: 353px;
    left: 5px;
    position: absolute;
    top: 0;
    width: 0
}

#sideCatalog-catalog {
    height: 325px;
    padding-top: 18px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 23px;
    position: relative
}

#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-top {
    cursor: pointer;
    top: 0
}

#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-bottom {
    bottom: 0
}

#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-top,
#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-bottom {
    background: url(https://img2020.cnblogs.com/blog/1937713/202004/1937713-20200424152027677-1354206005.png) no-repeat scroll 0 -199px transparent;
    height: 10px;
    left: -5px;
    overflow: hidden;
    position: absolute;
    width: 10px
}

#sideCatalog li {
    margin: 0px;
    padding: 4px 7px;
    text-align: left;
    position: relative
}

#sideCatalog li:hover {
    background-color: #f5f5f5
}

#sideCatalog-catalog ul .active {
    background-color: #f5f5f5
}

#sideCatalog-catalog .active a {
    color: #519cea
}

#sideCatalog-catalog a:hover {
    color: #519cea
}

#sideCatalog span:first-child {
    color: #999;
    font-family: "Consolas";
    font-size: 16px;
    font-weight: bold;
    padding-right: 5px
}

#sideCatalog li.h2Offset {
    padding-left: 45px;
    text-indent: -25px
}

#sideCatalog li.h3Offset {
    padding-left: 90px;
    text-indent: -50px
}

#sideCatalog a {
    text-decoration: none;
    color: #555;
    font-weight: bold
}

.sideCatalog-dot {
    background: url(https://img2020.cnblogs.com/blog/1937713/202004/1937713-20200424152027677-1354206005.png) repeat scroll 0 -222px transparent;
    cursor: pointer;
    font-size: 12px;
    height: 10px;
    left: -10px;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    top: 4px;
    width: 6px
}

#sideCatalog .highlight .sideCatalog-dot {
    background: url(https://img2020.cnblogs.com/blog/1937713/202004/1937713-20200424152027677-1354206005.png) no-repeat scroll -271px -38px transparent;
    height: 13px;
    left: -23px;
    top: 3px;
    width: 18px
}

#sideCatalogBtn {
    background: url(https://img2020.cnblogs.com/blog/1937713/202004/1937713-20200424152027677-1354206005.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 45px;
    margin-bottom: 5px;
    margin-left: 5px;
    position: relative;
    width: 45px;
    margin-top: 10px;
    outline: 0
}

#sideCatalogBtn:hover {
    background: url(https://img2020.cnblogs.com/blog/1937713/202004/1937713-20200424152027677-1354206005.png) no-repeat scroll -154px 0 transparent;
}

#sideToolbar-up {
    background: url(https://img2020.cnblogs.com/blog/1937713/202004/1937713-20200424152027677-1354206005.png) no-repeat scroll -1px -62px transparent;
    border-radius: 2px;
    display: block;
    height: 45px;
    margin-left: 5px;
    width: 45px;
    outline: 0
}

#sideToolbar-up:hover {
    background: url(https://img2020.cnblogs.com/blog/1937713/202004/1937713-20200424152027677-1354206005.png) no-repeat scroll -74px -62px transparent
}

/*侧边栏目录样式结束*/

/*侧边栏返回顶部样式开始*/

#gotop {
    background: url(https://img2020.cnblogs.com/blog/1937713/202004/1937713-20200424152027677-1354206005.png) no-repeat scroll -1px -62px transparent !important;
    width: 45px;
    height: 45px;
    overflow: hidden;
    position: fixed;
    right: 166px;
    bottom: 20px;
    cursor: pointer;
    display: none;
    z-index: 999;
}

#gotop:hover {
    background: url(https://img2020.cnblogs.com/blog/1937713/202004/1937713-20200424152027677-1354206005.png) no-repeat scroll -74px -62px transparent !important;
}

/*侧边栏返回顶部样式结束*/

/*代码复制按钮样式开始*/

.cnblogs-markdown pre {
    position: relative;
}

.cnblogs-markdown pre>span {
    position: absolute;
    top: 0.5px;
    right: 1px;
    border-radius: 2px;
    padding: 0 10px;
    font-family: "KaiTi";
    font-size: 15px;
    background: #007ACC;
    color: #fff;
    cursor: pointer;
}

.cnblogs-markdown pre>.copyed {
    background: #67c23a;
}

/*代码复制按钮样式结束*/

/*Github 链接样式开始*/

.github-corner :hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@media (max-width: 991px) {
    .github-corner>svg {
        fill: #fff !important;
        color: #222 !important;
    }

    .github-corner .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}

@-moz-keyframes octocat-wave {

    0%,
    100% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    20%,
    60% {
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
        -o-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }

    40%,
    80% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}

@-webkit-keyframes octocat-wave {

    0%,
    100% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    20%,
    60% {
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
        -o-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }

    40%,
    80% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}

@-o-keyframes octocat-wave {

    0%,
    100% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    20%,
    60% {
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
        -o-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }

    40%,
    80% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}

@keyframes octocat-wave {

    0%,
    100% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    20%,
    60% {
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
        -o-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }

    40%,
    80% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}

/*Github 链接样式结束*/

/*版权信息样式开始*/

#MySignature {
    display: block;
    border-radius: 7px;
    box-shadow: 1px 1px 1px #6b6b6b;
    padding-left: 80px;
    background: #e5eef7 url(https://img2020.cnblogs.com/blog/1937713/202005/1937713-20200509100106721-1392485826.png) no-repeat scroll 15px 50%;
    line-height: 1.5;
    font-size: 16px;
    font-family: "Consolas", "KaiTi";
}

#MySignature a {
    margin: 0;
    padding: 0;
    display: contents;
}

/*版权信息样式结束*/

/*雪花 div 样式开始*/

#Snow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: rgba(125, 137, 95, 0.1);
    pointer-events: none;
}

/*雪花 div 样式结束*/

/*页面加载样式开始*/

#loader-canvas {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
    background-image: linear-gradient(#e66465, #9198e5);
    z-index: 1000000000;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 100px;
    text-align: center;
    margin-top: -100px;
    margin-left: -50px;
    z-index: 9999999;
}

#glass {
    position: relative;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0% 0% 15% 15%;
    border: 3px solid;
    border-top: 0;
    border-bottom: 20px solid;
    border-color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
}

#drink {
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, orange, orangered);
    box-shadow: inset 0 2px 1px rgba(255, 69, 0, 0.2);
    opacity: 0.7;
}

#counter {
    font-family: Consolas;
    font-size: 22px;
    font-weight: 300;

    position: relative;
    line-height: 200px;
    color: rgba(255, 255, 255, 1);
}

#lemon {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 79px;
    width: 79px;
    margin-top: -38px;
    margin-right: -38px;
    background: radial-gradient(#f7f3b6 10%, #d7d26c);
    border-radius: 50%;
    border: 4px solid #47582e;
    box-shadow: inset 0 0 0 2px #f7f3b6;
}

#straw {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 30%;
    height: 220px;
    width: 6px;
    background: steelblue;
    border-radius: 0 6px 0 0;
    transform: rotate(-18.5deg);
    transform-origin: left bottom;
    -webkit-transform: rotate(-18.5deg);
    -webkit-transform-origin: left bottom;
}

#straw:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 6px;
    width: 80px;
    background: inherit;
    border-radius: 0 6px 0 0;
}

#cubes {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#cubes div {
    /*display: none;*/
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.6);
}

#cubes div:nth-child(1) {
    bottom: 0;
}

#cubes div:nth-child(2) {
    bottom: 45px;
    left: 25px;
    transform: rotate(32deg);
    transform-origin: center bottom;
    -webkit-transform: rotate(32deg);
    -webkit-transform-origin: center bottom;
}

#cubes div:nth-child(3) {
    bottom: 90px;
    left: 20px;
    transform: rotate(-34deg);
    transform-origin: center bottom;
    -webkit-transform: rotate(-34deg);
    -webkit-transform-origin: center bottom;
}

#coaster {
    width: 130%;
    height: 4px;
    margin-left: -15%;
    background: steelblue;
    border-radius: 2px;
}

/*页面加载样式结束*/